<h1>Yêu cầu cung cấp sản phẩm cho <%= @branch.name %></h1>
<p>Kính gửi <%= @supplier.name %>,</p>
<p>Chúng tôi xin thông báo rằng các mặt hàng sau đây của chi nhánh <%= @branch.name %> hiện đang hết hàng và cần được cập nhật::</p>
<ul>
  <% @zero_quantity_inventory.each do |inventory| %>
    <li>Tên sản phẩm: <%= inventory.name %>, Mã sản phẩm: <%= inventory.inventory_code %></li>
  <% end %>
</ul>
<p>Chúng tôi trân trọng yêu cầu nhà cung cấp cung cấp cho chúng tôi số lượng kho cần thiết trong thời gian sớm nhất.</p>
<p>Nếu có bất kỳ thắc mắc nào, xin đừng ngần ngại liên hệ với chúng tôi.</p>
<p>Trân trọng,</p>
<p><%= @branch.email %></p>
