<h1>Đơn Hàng Của Bạn Đã Hoàn Tất</h1>
<p>Xin chào <%= @order.customer.name %>,</p>
<p>Chúng tôi muốn thông báo rằng đơn hàng của bạn với các chi tiết sau đã hoàn tất:</p>
<ul>
  <li><strong>Mã Đơn Hàng:</strong> <%= @order.order_code %></li>
  <li><strong>Ngày Đặt Hàng:</strong> <%= @order.created_at %></li>
  <li><strong>Tổng Tiền:</strong> <%= number_to_currency(@order.total_price * @order.total_quantity) %></li>
</ul>
<p>Đơn hàng đã được xác nhận vào lúc <%= Time.zone.now %>:</p>
<p>Cảm ơn bạn đã mua hàng!</p>
